@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.myDark {
  @apply bg-mygreen text-white transition-colors duration-500 ease-in-out;
}
.myBright{
  @apply bg-white text-mygreen transition-colors duration-500 ease-in-out;
}
.buttonDark{
  @apply border-2 bg-mygreen text-white p-2 rounded-lg
}
.buttonLight{
  @apply border-2 bg-white p-2 text-mygreen rounded-lg
}
.hoverme
{
  @apply  border-b-2 border-blue-200 
}
.expenseButton{
  color:gray;
  opacity: 0.5;
  font-size: 2rem;
  border-top: 2px solid gray;
  width: 90%;
  padding: 4px;
}
.expenseButton:hover{
  background-color: whitesmoke;
  color: #001d21;
}

